h1, .post-title {
  font-size: 16px;
  font-weight: normal;
}

.post-title {
  font-weight: bold;
}

.h1 {
  font-size: 31.25px;
  font-weight: normal;
}
.bold {
  font-weight: bold;
}

#icon-blog, #icon-menu, #icon-info {
  fill: $text-color;
  // transition: $quick-transition;
}

#icon-info {
  // display: block;
  position: relative;
  top: 2px;
}

.work-post p, .post div:not(.PageNavigation) {
  margin: 0 0 6em;
}


li {
    font-variant-numeric: tabular-nums;
}
